---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import citron from "../assets/images/1.jpg";
import mark from "../assets/images/2.jpg";
import farve from "../assets/images/3.jpg";
import appelsin from "../assets/images/4.jpg";
import landskab from "../assets/images/5.jpg";
---
<MainLayout title="Italiensk smag af forfriskende godhed"
description="Sanpellegrino-drikkene er en hyldest til autentisk italiensk smag og kvalitet, lavet af 100% naturlige ingredienser.", 
ogtitle="Italiensk smag og kvalitet",
ogdescription="Sanpellegrino-drikkene er en hyldest til autentisk italiensk smag og kvalitet, lavet af 100% naturlige ingredienser."
>
	<article class="grid mx-auto container gap-8 pt-8 prose">
        <h1>Italiensk smag af forfriskende godhed</h1>
        <Image src={farve} alt="Italiensk smag" />
        <p>I de solrige bakker i det italienske landskab, hvor oliventræer og vinranker danser i Middelhavets brise, begynder historien om vores ikoniske Italian Sparkling Drinks. <br> Det var i 1932, at vores passion for kreativitet og enestående italiensk smag opstod i form af en lille familievirksomhed.</p>
        <p> <span class="font-bold">Vores mission var klar: </span> at bringe de bedste italienske smage ud i verden gennem forfriskende drikke.</p>


        <h2>Udvælgelsen af frugterne</h2>
        <Image src={appelsin} alt="Appelsiner - Italiensk smag" />

        <p>Vores rejse starter altid med omhyggelig udvælgelse af middelhavsfrugter. Vi går ikke på kompromis med kvaliteten og vælger hver eneste appelsin og citron til vores prisbelønnede opskrifter med omhu.</p>

     

        <hr>

        <h2>Produktionen</h2>
        <Image src={mark} alt="Mark fra Siccilen" />

        <p>
            Det er en ære at sige, at vores drikke produceres udelukkende i Italien. Vores Aranciata får sin strålende smag fra appelsiner dyrket på Sicilien og i Calabrien, mens Limonata får sin livlige karakter fra citroner plukket fra de frodige citruslunde på Sicilien.
        </p>

        <p>Men vores forbindelse til Italien går dybere end blot råvarerne. Vi har opbygget langvarige partnerskaber med frugtplantager i samme region, hvor erfarne landmænd håndhøster frugten og presser den til juice. Denne omhyggelige proces sikrer, at vi udtrækker den bedste smag og aroma fra hver eneste frugt.</p>

        <hr>

        <h2>Italiensk tradition</h2>
        <Image src={landskab} alt="Landskab af Italien" />

        <p>
            Sådan fortsætter vores historie med at blomstre, drevet af passionen for håndværk og tradition, og stadig inspireret af det italienske landskab og dets skatte.
        </p>

        <p>
            Med hver slurk af vores Italian Sparkling Drinks inviteres du til at opdage sjælen af Italien og fejre den levende smag af et land, der er rigt på historie, lidenskab og uovertruffen skønhed.
        </p>

        <hr>
        <h2>Smagen</h2>

        <p>
            Sanpellegrino-drikkene er en hyldest til autentisk italiensk smag og kvalitet, lavet af 100% naturlige ingredienser.
        </p>

        <p>
            Fra den forfriskende Aranciata Rossa til den spændende Arancia & Fico d'India, hver drik er en unik blanding af solmodne frugter og Middelhavets aromaer.
        </p>

        <ul>
            <li>Drik dem koldt ved 6-8°C og pynt dem med mynte eller friske hindbær for en ekstra smagsoplevelse..</li>
            <li>Vælg mellem 33cl dåser eller 20cl glasflasker, perfekte til enhver lejlighed.</li>
        </ul>

        <Image src={citron} alt="Citron - Italiensk smag" />
       

        </div>
        <hr>

    </article>
</MainLayout>

<script type="application/ld+json">
    {
      "@context": "https://schema.org/", 
      "@type": "HowTo", 
      "name": "Enjoy!",
      "description": "En guide til den bedste servering af en forfriskende Italiensk smag",
      "totalTime": "PT2M",
      "estimatedCost": {
        "@type": "MonetaryAmount",
        "currency": "DKK",
        "value": "1"
      },
      "step": [{
        "@type": "HowToStep",
        "text": "Åbn",
        "image": "https://images.unsplash.com/photo-1618724980108-a4d3856fd8f5?q=80&w=2864&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
        "name": "Citrusfrugt"
      },{
        "@type": "HowToStep",
        "text": "Hæld op",
        "image": "https://images.unsplash.com/photo-1533418683768-0a94fc845371?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
        "name": "pouring"
      },{
        "@type": "HowToStep",
        "text": "En skive citron",
        "image": "https://images.unsplash.com/photo-1610833805553-43556a0f821d?q=80&w=2804&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
        "name": "Citron"
      },{
        "@type": "HowToStep",
        "text": "Enjoy!",
        "image": "https://images.unsplash.com/photo-1623084921164-4a8c5c37a912?q=80&w=3072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
        "name": "Lemonade"
      }]    
    }
    </script>
    
    